language: node_js
node_js: lts/*

install:
  - npm install

before_install:
  - sudo apt-get install -y autoconf libtool nasm
  - npm install -g hexo

script:
  - cp next_theme_config.yml  themes/hexo-theme-next/_config.yml
  - ln -sfv `pwd`/themes_plugins/* themes/hexo-theme-next/source/lib/
  - hexo g

after_script:
  - >
    cd ./public &&
    git init &&
    git config user.name "terryding77" &&
    git config user.email "terryding77@gmail.com" &&
    git add . &&
    git commit -m "Update docs"
  - git push --force "https://${GITHUB_TOKEN}@${GH_REF}" master:master
  - git push --force "https://terryding77:${CODING_TOKEN}@${CODING_REF}" master:master

branches:
  only:
    - blog-source

env:
  global:
    - GH_REF: github.com/terryding77/terryding77.github.io.git
    - CODING_REF: git.dev.tencent.com/terryding77/terryding77.coding.me
